.sx-logo {
	
    font-size: 18pt;
    font-weight: bolder;
}
.sx-tb-s3 {
	width: 2em;
	vertical-align:top;
}
.sx-tb-s5 {
	width: 3.5em;
	vertical-align:top;
}
.sx-tb-s10 {
	width: 6em;
	vertical-align:top;
}
.sx-tb-s13 {
	width: 7em;
	vertical-align:top;
}

.sx-tb-s15 {
	width: 8em;
	vertical-align:top;
}
.sx-tb-s20 {
	width: 11em;
	vertical-align:top;
}
.sx-tb-s30 {
	width: 16em;
	vertical-align:top;
}
.sx-tb-s35 {
	width: 19em;
	vertical-align:top;
}
.sx-tb-s40 {
	width: 21em;
	vertical-align:top;
}
.sx-tb-s50 {
	width: 26em;
	vertical-align:top;
}

.sx-tb-n20 {
	width: 11em;
	vertical-align:top;
    text-align: right;
}
.sx-tb-n15 {
	width: 8em;
	vertical-align:top;
    text-align: right;
}
.sx-tb-n13 {
	width: 7em;
	vertical-align:top;
    text-align: right;
}
.sx-tb-n10 {
	width: 6em;
	vertical-align:top;
    text-align: right;
}
.sx-tb-n5 {
	width: 3.5em;
	vertical-align:top;
    text-align: right;
}
.sx-tb-n3 {
	width: 2em;
	vertical-align:top;
    text-align: right;
}

.sx-alignright {
	tex-align: right;
}

.sx-bg-odd {

    background-color: #f4f4f4;
}

.sx-bold {
    font-weight: bold;
}
.sx-bolder {
    font-weight: bolder;
}

.sx-table-rubrik {

    font-size: 8pt;
    background-color: #ccffff;
}

.sx-table-list td {
	margin: 0px;
	padding: 0px 4px 0px 4px;
	border:none;
	border-collapse: collapse;
	border-spacing: 0px;
}

.sx-table-list  {
}

.sx-feltext {
	color: red;
}

.sx-text-smaller {
	font-size: smaller;
}
.sx-text-small {
	font-size: small;
}

.sx-text-larger {
	font-size: larger;
}
.sx-text-large {
	font-size: large;
}
.sx-text-medium {
	font-size: medium;
}

.sx-red {
	color: red;
}
.sx-blue {
	color: blue;
}
.sx-green {
	color: green;
}
.sx-yellow {
	color: yellow;
}
.sx-brown {
	color: brown;
}
.sx-cyan {
	color: cyan;
}

.sx-lightgreen {
	color: lightgreen;
}
.sx-lightblue {
	color: lightblue;
}
.sx-orange {
	color: orange;
}
.sx-pink {
	color: pink;
}

.w-tabtitle-btn {

}

.sx-float-left {
	float: left;
}
.sx-float-right {
	float: right;
}
.sx-float-none {
	float: none;
}

.sx-display-inline {
	display: inline;
}

.sx-margin-1em {
	margin: 1em;
}
.sx-margin-1em-left {
	margin-left: 1em;
}
.sx-margin-1em-right {
	margin-right: 1em;
}
.sx-margin-1em-top {
	margin-top: 1em;
}
.sx-margin-1em-bottom {
	margin-bottom: 1em;
}

.sx-margin-05em {
	margin: 0.5em;
}
.sx-margin-05em-left {
	margin-left: 0.5em;
}
.sx-margin-05em-right {
	margin-right: 0.5em;
}
.sx-margin-05em-top {
	margin-top: 0.5em;
}
.sx-margin-05em-bottom {
	margin-bottom: 0.5em;
}

.sx-padding-1em {
	padding: 1em;
}
.sx-padding-1em-left {
	padding-left: 1em;
}
.sx-padding-1em-right {
	padding-right: 1em;
}
.sx-padding-1em-top {
	padding-top: 1em;
}
.sx-padding-1em-bottom {
	padding-bottom: 1em;
}

.sx-padding-05em {
	padding: 0.5em;
}
.sx-padding-05em-left {
	padding-left: 0.5em;
}
.sx-padding-05em-right {
	padding-right: 0.5em;
}
.sx-padding-05em-top {
	padding-top: 0.5em;
}
.sx-padding-05em-bottom {
	padding-bottom: 0.5em;
}


.sx-popupmenu {
  border-color: gray;
  border-width: 1px 3px 3px 1px;
  border-style: solid;
}

.sx-popupmenu-item {
	font-weight: normal;
}
.sx-errorlabel {

    font-style: italic;
    color: red;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-color: red;
    border-left-color: red;
    border-bottom-color: red;
    border-top-color: red;
}
.sx-infolabel {

    font-style: italic;
    color: yellow;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: black;
    border-left-color: black;
    border-bottom-color: black;
    border-top-color: black;
}

.w-tabtitle-passive {

	width:100%;
    font-style: normal;
	cursor: pointer;

    padding-left: 6px;
    padding-right: 6px;
}
.w-tabtitle-active {
	width:100%;
    font-style: normal;
    padding-left: 6px;
    padding-right: 6px;
	background-color: #ff99ff;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;

    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: black;

    border-right-style: solid;
    border-rigt-width: 1px;
    border-right-color: black;

	cursor: pointer;
    font-weight: bolder;
}

.w-tabpanel {
	width: 100%;

    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
	background-color: #9999ff;
}

.w-windowpanel {
	width: 100%;
}
.w-windowhandler {
	width: 100%;

}



.sx-boxed-scroll {
	border-width: 1 px;
	border-color: black;
	border-style: solid;
	margin: 0 0.4em 0.8em 0;
	padding: 1px 1px 1px 1px;
}

.sx-cellpanel {
font-family: Courier, monospace;
table-layout: fixed;
}
.sx-cellpanel th {
	font-size: 10px;
	font-weight: bold;
	height: 1em;
	padding: 0 0 0 1px;
	background-color: #f4f4f4;
}
.sx-cellpanel td {
	height: 1em;
	padding: 0 0 0 1px;
}



.gwt-TextBox {
	padding: 0 0 0 0;
	margin: 0 1px 0 0;
	font-family: Courier, monospace;
}

table td {
	font-family: inherit;
}