<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="SxServer-ejbPU" transaction-type="JTA">
    <jta-data-source>sxadm</jta-data-source>
    <class>se.saljex.sxserver.tables.TableKund</class>
    <class>se.saljex.sxserver.client.KundRow</class>
    <class>se.saljex.sxserver.tables.TableArtgrp</class>
    <class>se.saljex.sxserver.tables.TableArtgrplank</class>
    <class>se.saljex.sxserver.tables.TableArtikel</class>
    <class>se.saljex.sxserver.tables.TableArtklase</class>
    <class>se.saljex.sxserver.tables.TableArtklaselank</class>
    <class>se.saljex.sxserver.tables.TableArtstat</class>
    <class>se.saljex.sxserver.tables.TableArtstrukt</class>
    <class>se.saljex.sxserver.tables.TableBest1</class>
    <class>se.saljex.sxserver.tables.TableBest2</class>
    <class>se.saljex.sxserver.tables.TableBesthand</class>
    <class>se.saljex.sxserver.tables.TableBetjour</class>
    <class>se.saljex.sxserver.tables.TableBilder</class>
    <class>se.saljex.sxserver.tables.TableBokord</class>
    <class>se.saljex.sxserver.tables.TableBonus</class>
    <class>se.saljex.sxserver.tables.TableBonusbet</class>
    <class>se.saljex.sxserver.tables.TableFaktdat</class>
    <class>se.saljex.sxserver.tables.TableFaktorut</class>
    <class>se.saljex.sxserver.tables.TableFaktura1</class>
    <class>se.saljex.sxserver.tables.TableFaktura2</class>
    <class>se.saljex.sxserver.tables.TableFdordernr</class>
    <class>se.saljex.sxserver.tables.TableFuppg</class>
    <class>se.saljex.sxserver.tables.TableKundgrp</class>
    <class>se.saljex.sxserver.tables.TableKundgrplank</class>
    <class>se.saljex.sxserver.tables.TableKundkontakt</class>
    <class>se.saljex.sxserver.tables.TableKundlogin</class>
    <class>se.saljex.sxserver.tables.TableKundres</class>
    <class>se.saljex.sxserver.tables.TableKunhand</class>
    <class>se.saljex.sxserver.tables.TableKunrab</class>
    <class>se.saljex.sxserver.tables.TableKunstat</class>
    <class>se.saljex.sxserver.tables.TableLager</class>
    <class>se.saljex.sxserver.tables.TableLagerhand</class>
    <class>se.saljex.sxserver.tables.TableLagerid</class>
    <class>se.saljex.sxserver.tables.TableLev</class>
    <class>se.saljex.sxserver.tables.TableLevstat</class>
    <class>se.saljex.sxserver.tables.TableMeddel</class>
    <class>se.saljex.sxserver.tables.TableNettopri</class>
    <class>se.saljex.sxserver.tables.TableOffert1</class>
    <class>se.saljex.sxserver.tables.TableOffert2</class>
    <class>se.saljex.sxserver.tables.TableOrder1</class>
    <class>se.saljex.sxserver.tables.TableOrder2</class>
    <class>se.saljex.sxserver.tables.TableOrderhand</class>
    <class>se.saljex.sxserver.tables.TableRabkoder</class>
    <class>se.saljex.sxserver.tables.TableRanta</class>
    <class>se.saljex.sxserver.tables.TableRorder</class>
    <class>se.saljex.sxserver.tables.TableSaljare</class>
    <class>se.saljex.sxserver.tables.TableSljstat</class>
    <class>se.saljex.sxserver.tables.TableStatistik</class>
    <class>se.saljex.sxserver.tables.TableSteprodukt</class>
    <class>se.saljex.sxserver.tables.TableSteproduktnot</class>
    <class>se.saljex.sxserver.tables.TableStepumpartnr</class>
    <class>se.saljex.sxserver.tables.TableStjarnrad</class>
    <class>se.saljex.sxserver.tables.TableSxreg</class>
    <class>se.saljex.sxserver.tables.TableSxservjobb</class>
    <class>se.saljex.sxserver.tables.TableUtlev1</class>
    <class>se.saljex.sxserver.tables.TableVarukorg</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
  <persistence-unit name="SxServer-ejbPU-BV" transaction-type="JTA">
    <provider>oracle.toplink.essentials.PersistenceProvider</provider>
    <jta-data-source>sxadmkundbv</jta-data-source>
    <class>se.saljex.sxserver.client.KundRow</class>
    <class>se.saljex.sxserver.tables.TableArtgrp</class>
    <class>se.saljex.sxserver.tables.TableArtgrplank</class>
    <class>se.saljex.sxserver.tables.TableArtikel</class>
    <class>se.saljex.sxserver.tables.TableArtklase</class>
    <class>se.saljex.sxserver.tables.TableArtklaselank</class>
    <class>se.saljex.sxserver.tables.TableArtstat</class>
    <class>se.saljex.sxserver.tables.TableArtstrukt</class>
    <class>se.saljex.sxserver.tables.TableBest1</class>
    <class>se.saljex.sxserver.tables.TableBest2</class>
    <class>se.saljex.sxserver.tables.TableBesthand</class>
    <class>se.saljex.sxserver.tables.TableBetjour</class>
    <class>se.saljex.sxserver.tables.TableBilder</class>
    <class>se.saljex.sxserver.tables.TableBokord</class>
    <class>se.saljex.sxserver.tables.TableBonus</class>
    <class>se.saljex.sxserver.tables.TableBonusbet</class>
    <class>se.saljex.sxserver.tables.TableFaktdat</class>
    <class>se.saljex.sxserver.tables.TableFaktorut</class>
    <class>se.saljex.sxserver.tables.TableFaktura1</class>
    <class>se.saljex.sxserver.tables.TableFaktura2</class>
    <class>se.saljex.sxserver.tables.TableFdordernr</class>
    <class>se.saljex.sxserver.tables.TableFuppg</class>
    <class>se.saljex.sxserver.tables.TableKund</class>
    <class>se.saljex.sxserver.tables.TableKundgrp</class>
    <class>se.saljex.sxserver.tables.TableKundgrplank</class>
    <class>se.saljex.sxserver.tables.TableKundkontakt</class>
    <class>se.saljex.sxserver.tables.TableKundlogin</class>
    <class>se.saljex.sxserver.tables.TableKundres</class>
    <class>se.saljex.sxserver.tables.TableKunhand</class>
    <class>se.saljex.sxserver.tables.TableKunrab</class>
    <class>se.saljex.sxserver.tables.TableKunstat</class>
    <class>se.saljex.sxserver.tables.TableLager</class>
    <class>se.saljex.sxserver.tables.TableLagerhand</class>
    <class>se.saljex.sxserver.tables.TableLagerid</class>
    <class>se.saljex.sxserver.tables.TableLev</class>
    <class>se.saljex.sxserver.tables.TableLevstat</class>
    <class>se.saljex.sxserver.tables.TableMeddel</class>
    <class>se.saljex.sxserver.tables.TableNettopri</class>
    <class>se.saljex.sxserver.tables.TableOffert1</class>
    <class>se.saljex.sxserver.tables.TableOffert2</class>
    <class>se.saljex.sxserver.tables.TableOrder1</class>
    <class>se.saljex.sxserver.tables.TableOrder2</class>
    <class>se.saljex.sxserver.tables.TableOrderhand</class>
    <class>se.saljex.sxserver.tables.TableRabkoder</class>
    <class>se.saljex.sxserver.tables.TableRanta</class>
    <class>se.saljex.sxserver.tables.TableRorder</class>
    <class>se.saljex.sxserver.tables.TableSaljare</class>
    <class>se.saljex.sxserver.tables.TableSljstat</class>
    <class>se.saljex.sxserver.tables.TableStatistik</class>
    <class>se.saljex.sxserver.tables.TableSteprodukt</class>
    <class>se.saljex.sxserver.tables.TableSteproduktnot</class>
    <class>se.saljex.sxserver.tables.TableStepumpartnr</class>
    <class>se.saljex.sxserver.tables.TableStjarnrad</class>
    <class>se.saljex.sxserver.tables.TableSxreg</class>
    <class>se.saljex.sxserver.tables.TableSxservjobb</class>
    <class>se.saljex.sxserver.tables.TableUtlev1</class>
    <class>se.saljex.sxserver.tables.TableVarukorg</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
  <persistence-unit name="SxServer-ejbPU-Main" transaction-type="JTA">
    <provider>oracle.toplink.essentials.PersistenceProvider</provider>
    <jta-data-source>sxadmmain</jta-data-source>
    <class>se.saljex.sxserver.client.KundRow</class>
    <class>se.saljex.sxserver.tables.TableArtgrp</class>
    <class>se.saljex.sxserver.tables.TableArtgrplank</class>
    <class>se.saljex.sxserver.tables.TableArtikel</class>
    <class>se.saljex.sxserver.tables.TableArtklase</class>
    <class>se.saljex.sxserver.tables.TableArtklaselank</class>
    <class>se.saljex.sxserver.tables.TableArtstat</class>
    <class>se.saljex.sxserver.tables.TableArtstrukt</class>
    <class>se.saljex.sxserver.tables.TableBest1</class>
    <class>se.saljex.sxserver.tables.TableBest2</class>
    <class>se.saljex.sxserver.tables.TableBesthand</class>
    <class>se.saljex.sxserver.tables.TableBetjour</class>
    <class>se.saljex.sxserver.tables.TableBilder</class>
    <class>se.saljex.sxserver.tables.TableBokord</class>
    <class>se.saljex.sxserver.tables.TableBonus</class>
    <class>se.saljex.sxserver.tables.TableBonusbet</class>
    <class>se.saljex.sxserver.tables.TableFaktdat</class>
    <class>se.saljex.sxserver.tables.TableFaktorut</class>
    <class>se.saljex.sxserver.tables.TableFaktura1</class>
    <class>se.saljex.sxserver.tables.TableFaktura2</class>
    <class>se.saljex.sxserver.tables.TableFdordernr</class>
    <class>se.saljex.sxserver.tables.TableFuppg</class>
    <class>se.saljex.sxserver.tables.TableKund</class>
    <class>se.saljex.sxserver.tables.TableKundgrp</class>
    <class>se.saljex.sxserver.tables.TableKundgrplank</class>
    <class>se.saljex.sxserver.tables.TableKundkontakt</class>
    <class>se.saljex.sxserver.tables.TableKundlogin</class>
    <class>se.saljex.sxserver.tables.TableKundres</class>
    <class>se.saljex.sxserver.tables.TableKunhand</class>
    <class>se.saljex.sxserver.tables.TableKunrab</class>
    <class>se.saljex.sxserver.tables.TableKunstat</class>
    <class>se.saljex.sxserver.tables.TableLager</class>
    <class>se.saljex.sxserver.tables.TableLagerhand</class>
    <class>se.saljex.sxserver.tables.TableLagerid</class>
    <class>se.saljex.sxserver.tables.TableLev</class>
    <class>se.saljex.sxserver.tables.TableLevstat</class>
    <class>se.saljex.sxserver.tables.TableMeddel</class>
    <class>se.saljex.sxserver.tables.TableNettopri</class>
    <class>se.saljex.sxserver.tables.TableOffert1</class>
    <class>se.saljex.sxserver.tables.TableOffert2</class>
    <class>se.saljex.sxserver.tables.TableOrder1</class>
    <class>se.saljex.sxserver.tables.TableOrder2</class>
    <class>se.saljex.sxserver.tables.TableOrderhand</class>
    <class>se.saljex.sxserver.tables.TableRabkoder</class>
    <class>se.saljex.sxserver.tables.TableRanta</class>
    <class>se.saljex.sxserver.tables.TableRorder</class>
    <class>se.saljex.sxserver.tables.TableSaljare</class>
    <class>se.saljex.sxserver.tables.TableSljstat</class>
    <class>se.saljex.sxserver.tables.TableStatistik</class>
    <class>se.saljex.sxserver.tables.TableSteprodukt</class>
    <class>se.saljex.sxserver.tables.TableSteproduktnot</class>
    <class>se.saljex.sxserver.tables.TableStepumpartnr</class>
    <class>se.saljex.sxserver.tables.TableStjarnrad</class>
    <class>se.saljex.sxserver.tables.TableSxreg</class>
    <class>se.saljex.sxserver.tables.TableSxservjobb</class>
    <class>se.saljex.sxserver.tables.TableUtlev1</class>
    <class>se.saljex.sxserver.tables.TableVarukorg</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
</persistence>
