<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <listener>
        <listener-class>se.saljex.sxserver.web.SXListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>getPDF</servlet-name>
        <servlet-class>se.saljex.sxserver.web.getPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>se.saljex.sxserver.web.status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tester</servlet-name>
        <servlet-class>se.saljex.sxserver.web.tester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kund</servlet-name>
        <servlet-class>se.saljex.sxserver.web.kund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>se.saljex.sxserver.web.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>intra</servlet-name>
        <servlet-class>se.saljex.sxserver.web.intra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rapp</servlet-name>
        <servlet-class>se.saljex.sxserver.web.rapp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inkop</servlet-name>
        <servlet-class>se.saljex.sxserver.web.inkop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>se.saljex.sxserver.web.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ste</servlet-name>
        <servlet-class>se.saljex.sxserver.web.ste</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPDF</servlet-name>
        <url-pattern>/getPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tester</servlet-name>
        <url-pattern>/tester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kund</servlet-name>
        <url-pattern>/kund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>intra</servlet-name><url-pattern>/intra</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>rapp</servlet-name>
        <url-pattern>/rapp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inkop</servlet-name>
        <url-pattern>/inkop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ste</servlet-name>
        <url-pattern>/ste</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>240</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>LocalWebSupportBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>se.saljex.sxserver.LocalWebSupportLocal</local>
        <ejb-link>SxServer-ejb.jar#LocalWebSupportBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LocalWebSupportBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>se.saljex.sxserver.LocalWebSupportLocal</local>
        <ejb-link>SxServer-ejb.jar#LocalWebSupportBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LocalWebSupportBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>se.saljex.sxserver.LocalWebSupportLocal</local>
        <ejb-link>SxServer-ejb.jar#LocalWebSupportBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LocalWebSupportBean3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>se.saljex.sxserver.LocalWebSupportLocal</local>
        <ejb-link>SxServer-ejb.jar#LocalWebSupportBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LocalWebSupportBean4</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>se.saljex.sxserver.LocalWebSupportLocal</local>
        <ejb-link>SxServer-ejb.jar#LocalWebSupportBean</ejb-link>
    </ejb-local-ref>
    </web-app>
