<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>se.saljex.sxserver.web.SXListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>getdbtest</servlet-name>
        <servlet-class>se.saljex.sxserver.web.getdbtest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPDF</servlet-name>
        <servlet-class>se.saljex.sxserver.web.getPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>se.saljex.sxserver.web.status</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getdbtest</servlet-name>
        <url-pattern>/getdbtest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPDF</servlet-name>
        <url-pattern>/getPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
