<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="SxServer-warPU" transaction-type="JTA">
    <jta-data-source>sxadm</jta-data-source>
    <class>se.saljex.sxserver.tables.TableArtgrp</class>
    <class>se.saljex.sxserver.tables.TableArtikel</class>
    <class>se.saljex.sxserver.tables.TableArtgrplank</class>
    <class>se.saljex.sxserver.tables.TableArtklase</class>
    <class>se.saljex.sxserver.tables.TableArtklaselank</class>
    <class>se.saljex.sxserver.tables.TableFaktura1</class>
    <class>se.saljex.sxserver.tables.TableFaktura2</class>
    <class>se.saljex.sxserver.tables.TableOrder1</class>
    <class>se.saljex.sxserver.tables.TableOrder2</class>
    <class>se.saljex.sxserver.tables.TableBest1</class>
    <class>se.saljex.sxserver.tables.TableBest2</class>
    <class>se.saljex.sxserver.tables.TableBesthand</class>
    <class>se.saljex.sxserver.tables.TableBetjour</class>
    <class>se.saljex.sxserver.tables.TableKund</class>
    <class>se.saljex.sxserver.tables.TableKundkontakt</class>
    <class>se.saljex.sxserver.tables.TableKundlogin</class>
    <class>se.saljex.sxserver.tables.TableKundres</class>
    <class>se.saljex.sxserver.tables.TableOffert1</class>
    <class>se.saljex.sxserver.tables.TableOffert2</class>
    <class>se.saljex.sxserver.tables.TableOrderhand</class>
    <class>se.saljex.sxserver.tables.TableRorder</class>
    <class>se.saljex.sxserver.tables.TableSteprodukt</class>
    <class>se.saljex.sxserver.tables.TableSteproduktnot</class>
    <class>se.saljex.sxserver.tables.TableStepumpartnr</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
