body {
	margin: 0;
	padding: 0 0 15px 0;
	background: #ffffff;
	font-family: 'trebuchet ms', tahoma, verdana, arial, sans-serif;
	font-size: 14px;
	/*line-height: 1.6em;*/
}

a {
	color: #cc5500;
	text-decoration: none;
}
a:visited {
	color: #cc5500;
	text-decoration: none;
}

a:hover {
	/*color: #cfcfcf; */
	text-decoration: underline;
}

h1, h2, h3, h4 {
	font-family: arial, sans-serif;
}

ul {
	list-style-type: none;
	list-style-image: url('gfx/arrow.gif');
	margin: 0px 0px 0px 20px;
}

h1 {
	margin: 0 0 10px 0;
	color: #288bcd;
	font-size: 16pt;
	line-height: 1.1em;
}

h2 {
	margin: 0;
	font-size: 14pt;
	font-weight: bold;	 
}

h3 {
	margin: 0;
	font-size: 12px;
	font-weight: bold;
}

h4 {
	font-size: 12px;
	font-weight: bold;
	margin: 6px 0px 2px 0px;

}


hr {
	margin: 20px 0 20px 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-bottom: 1px dotted #cfcfcf;
}

img {
	border: 0px;
}



#container {
	width: 1200px;
}

#siteheader {
	height: 40px;
	background: #00efef;
	border-bottom: 2px solid #dfdfdf;
	text-align: center;
	padding: 0px 15px 0px 15px;
	 
}

#top {
	height: 34px;
	background: #efefef;
	border-bottom: 2px solid #dfdfdf;
	padding: 0px 15px 0px 15px;
}


#body {
	background: #ffffff;
	margin: 0px 2px 2px 0px;
	padding: 0px 0px 0px 0px;
	text-align: justify;
}


#errtext { 
	color: #ff0000;
	background: #efefef;	 
 }


#leftbar {
	background: #efefef;
	margin: 5px 5px 5px 5px; 
	padding: 2px 2px 2px 2px;
	width: 184px;
	float: left;
}

#midbar {
	margin: 5px 5px 5px 5px; 
	padding: 2px 0px 2px 0px;
	float: left;
	 width: 804px;
}


#rightbar {
	background: #efefef;
	margin: 5px 5px 5px 5px; 
	padding: 2px 2px 2px 2px;
	width: 164px;
	float: right;
	}

.inlagg {
	font-size: 12px;
}
.inlagg h1 {
	font-size: 16px;
	font-weight: bold;
	margin: 2px 0px 2px 0px;
}
.inlagg h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 2px 0px 0px 0px;
}
.inlagg h4 {
	font-size: 8px;
	font-weight: normal;
	font-style: italic;
	margin: 0px 0px 0px 0px;
}

.midgroup {
	font-size: 12px;
	background: #efefef;
	margin: 0px 5px 5px 5px;
	padding: 2px 2px 2px 2px;
   border-top-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-right-style: solid;
   border-top-width: 2px;
   border-bottom-width: 2px;
   border-left-width: 2px;
   border-right-width: 2px;
   border-top-color: #ededed;
   border-bottom-color: #ededed;
   border-left-color: #ededed;
   border-right-color: #ededed;
}

.midgroup h1 {
	font-size: 16px;
	font-weight: bold;
	color:blue;
	margin: 2px 0px 2px 0px;
}
.midgroup h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 2px 0px 0px 0px;
	color:black;
}
.midgroup h4 {
	font-size: 8px;
	font-weight: normal;
	font-style: italic;
	margin: 0px 0px 0px 0px;
	color:black;
}

.rgroup {
	background: #efefff;
	margin: 5px 5px 5px 5px;
	padding: 2px 2px 2px 2px;
   border-top-width: 1px;
   border-bottom-width: 1px;
   border-left-width: 1px;
   border-right-width: 1px;
}
.rgroupforsalj {
	background: #efffff;
	margin: 5px 5px 5px 5px;
	padding: 2px 2px 2px 2px;
   border-top-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-right-style: solid;
   border-top-width: 1px;
   border-bottom-width: 1px;
   border-left-width: 1px;
   border-right-width: 1px;
   border-top-color: #edfdfd;
   border-bottom-color: #edfdfd;
   border-left-color: #edfdfd;
   border-right-color: #edfdfd;
}

.midtable {
	width: 780px;
}
.midtable td {
   vertical-align: top;
}
.docgrupp {
	/*width: 710%; */
	margin: 0px 0px 0px 0px; 
	 padding: 0px;
	/*background: #eeeeee; */
	 border-left: 1px solid #000000;
	 border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background: #eeeeee;
}


.docgrupp h1 {
	background: #ff0000;
	color: #000000;
	font-size: 16pt;
	 font-weight: bold;

}
.docgrupp h2 {
	font-size: 12pt;
	 font-weight: bold;
}

table#doclist {
	font-size: 12px;
	table-layout: fixed;
	border-collapse: collapse;
	 width: 800px;  
}
table#doclist th {
	background: #606060;
	font-size: 10px;
	font-weight: bold;
	padding: 0px 1px 0px 1px;
	margin: 0px 0px 0px 0px;
}
table#doclist td {
	padding: 0px 1px 0px 1px;
	margin: 0px 0px 0px 0px;
	vertical-align: top;
}

table#dochead {
	font-size: 12px;
	table-layout: fixed;
	border-collapse: collapse;
	width: 800px;
	background: #eeeeee;
}

table#dochead th {
	background: #606060;
	font-size: 10px;
	font-weight: bold;
	padding: 0px 1px 0px 1px;
	margin: 0px 0px 0px 0px;	 
}
table#dochead td {
	padding: 0px 1px 0px 1px;
	margin: 0px 0px 0px 0px;	 
}

table#doc {
	font-size: 12px;
	table-layout: fixed;
	border-collapse: collapse;
	width: 800px;
	/*background: #eeeeee; */
}

table#doc th {
	background: #606060;
	font-size: 10px;
	font-weight: bold;
	padding: 0px 1px 0px 1px;
	margin: 0px 0px 0px 0px;	 
}

table#doc td {
	padding: 0px 1px 0px 1px;
	margin: 0px 0px 0px 0px;	 
}

.trdoceven {
}
.trdocodd {
	background: #eeeeee;
}
.trhead {
	background: #303030;
}
.trhighlite {
	background: #3030f0;
}
.trh {
	background: #30f000;
}

.tdinput {
border: blue 1px solid;
}
.tdinputerror {
border: red 2px solid;
}
.tdknapp {
	width: 30px;
}
.tdn {
	text-align: right;
}
.tdn4 {
	width: 30px;
	text-align: right;
}
.tdn12 {
	width: 60px;
	text-align: right;
}
.tdn14 {
	width: 70px;
	text-align: right;
}
.tdn16 {
	width: 80px;
	text-align: right;
}
.tds {
	width: 60px;
}
.tds3 {
	width: 60px;
}
.tds10 {
	width: 70px;
}
.tds15 {
	width: 105px;
}
.tds20 {
	width: 140px;
}
.tds30 {
	width: 240px;
}
.tds60 {
	width: 480px;
}
.tds90 {
	width: 700px;
}
.tddatum {
	width: 80px;
}

.tddocheadrubrik {
	width: 100px;
	font-size: 10px;
	font-weight: bold;
}

.trrappgroupheader {
	background: #707070;
}
.trrappgroupfooter {
	background: #707070;
}
.trrappsum {
	background: #808080;
}
.tdrappgroupheader {
	font-weight: bold;
}
.tdrappgroupfooter {
	font-weight: bold;
}
.tdrappsum {
	font-weight: bold;
}

#siteheader ul {
	margin: 0;
	padding: 0;

	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
}

#siteanvandare {
	font-weight: normal;
	font-size:  8px;
}

#siteheader ul a {
	display: block;
	width: 100%;
	
	/*background: url("gfx/bg-menu.gif") repeat-x;*/
	color: #555555;
	
	font-family: 'trebuchet ms', verdana, arial, sans-serif;
	font-size: 12pt;
	text-align: center;
	/*line-height: 22px;*/
	
}

#siteheader ul a:hover {
	/*background: #f0f0f0 url("gfx/bg-menu_hover.gif") repeat-x;*/
	color: #000000;
	background: #dfdfdf;
	text-decoration: none;
	
/*	border-bottom: 2px solid #dfdfdf; */
}
#siteheader ul a.selected {
	background: #ffffff;
	color: #000000;
	
	font-weight: bold;

	line-height: 22px;
	
	border-top: 2px solid #dfdfdf;
	border-left: 2px solid #dfdfdf;
	border-right: 2px solid #dfdfdf;
}

#siteheader li {
	margin: 0;
	padding: 0;
	float: left;
	width: 20%;
}

#errortext {
	border: red 2px solid;
	padding: 2px;
	font-style: italic;
	width: 796px;
}
#infotext {
	background: #00ff88;
	color: #000000;
	font-style: italic;
	padding: 2px;
	width: 796px;
}

#fotnot {
	font-size: 10px;
	font-style: italic;
}

.left {
		float: left;
}
.right {
		float: right;
		clear: right;
}





table#rapp {
	font-size: 12px;
	table-layout: auto;
	border-collapse: collapse;
	 width: 705px;  
}
table#rapp th {
	background: #606060;
	font-size: 10px;
	font-weight: bold;
	padding: 0px 3px 0px 3px;
	margin: 0px 0px 0px 0px;
	text-align: left;
}
table#rapp td {
	padding: 0px 3px 0px 3px;
	margin: 0px 0px 0px 0px;
	vertical-align: top;
}

